.Navbar {
    display: flex;
    height: 70px;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: space-between;
    padding: 0px 25px;

                            
}

.Navbar a {
    text-decoration: none;
    color: var(--font-one);
    font-size: 18px;
    background-color: var(--font-two);
    padding: 5px 10px;
    border-radius: 5px;

}

.nav-btn{
    float: right;
}

.Navbar a:hover {
    background-color: white;

}

.Navbar a:visited{
    color: var(--font-one);

}

.title {
    color: var(--font-two);
}

