.skills-main {
    color: var(--font-two);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.skills-title {
    text-align: center;

}

.skills-container {
    max-width: 900px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 300px;
    margin: 0px auto;
    padding: 15px 0;

}

.skill {
    border-radius: 5px;
    background-color: var(--font-two);
    color: var(--font-one);
    margin: 5px;
    padding: 5px 10px;
    font-family: var(--font-code);

}

.skill-divide {
    flex-wrap: wrap;
    max-width: 300px;
}

.skill-div {
    color: white;
    margin: 0 15px;
    text-align: center;
}