.skills-main {
    background-color: #FFD97D;
    color:#0D1317;
}

.skills-title{
    display: flex;
    justify-content: center;
}

.skills-container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.skill {
    border-radius: 5px;
    background-color: #0D1317;
    text-align: center;
    color: #FFD97D;
    margin: 5px;
    padding: 5px 10px;
}

