.about{
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    margin-bottom: -50px;
}

.text h2{
    font-size: 18px;
}

.text p{
    font-size: 14px;
}

.text{
    margin-right: 50px;
    max-width: 650px;
}

.text h1{
   color: #FFD97D;
    font-size: 50px;
    margin-bottom: -25px;
}

.text img{
    width: 200px;
    border-radius: 50%;
    height: 200px;
    margin-top: 25px;
}

