.about {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 5px 25px;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
}

.text h2 {
    font-size: 18px;
    font-family: var(--font-code);
    color: var(--font-two);
}

.text p {
    font-size: 16px;
}


.hi {
    margin-bottom: -40px;
    font-family: var(--font-code);
    font-size: 16px;
    color: var(--font-two);
}

.text h1 {
    color: var(--font-yellow);
    font-size: 50px;
    margin-bottom: -15px;
}

.text img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}