.about {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 5px 25px;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
}



@media only screen and (min-width: 750px) {
    .bio {
        display: flex;
    }

    .bio-text {
        max-width: 50%;
        padding-right: 25px;
    }

    .imgsami {
        max-width: 300px;
        border-radius: 10px;
    }
}


@media only screen and (max-width: 700px) {

    .bio-text {
        text-align: left;

    }

    .imgsami {
        display: flex;
        margin: 0 auto;
        max-width: 300px;
        border-radius: 10px;
    }
}

.bio img{
    box-shadow: 10px 10px 5px  var(--font-two);
      -moz-box-shadow: 10px 10px 5px var(--font-two);
      -webkit-box-shadow: 10px 10px 0px var(--font-two);
      -khtml-box-shadow: 10px 10px 0px var(--font-two);
}

.text h2 {
    font-size: 18px;
    font-family: var(--font-code);
    color: var(--font-two);
}

.text p {
    font-size: 16px;
}


.hi {
    margin-bottom: -40px;
    font-family: var(--font-code);
    font-size: 16px;
    color: var(--font-two);
}

.text h1 {
    color: var(--font-yellow);
    font-size: 50px;
    margin-bottom: -15px;
}