.exp-main {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 5px 25px;
}



.exp-item h2 {
    color: var(--font-two);
}

.exp-item{
   margin-bottom: 50px;
}

.title-job{
    background-color: var(--font-two);
    color: var(--font-one);
    padding: 5px 25px;
    font-size: 20px;
}