.contact{
    padding: 50px 50px;
    color:white;
    display: flex;
    justify-content: center;
}

p{
    padding-right: 20px;
}

.contact a{
    color: #FFD97D;
}

.contact a:link{
    text-decoration: none;
}
.contact a:visited{
    color: #FFD97D;
}

.contact a:hover{
    color: white;
}