.contact{
    padding: 50px 50px;
    color:white;
    display: flex;
    justify-content: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

p{
    padding-right: 20px;
}

.contact a{
    color: #FFD97D;
    
}

.contact a:link{
    text-decoration: none;
}
.contact a:visited{
    color: #FFD97D;
}

.contact a:hover{
    color: white;
}