@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --font-two: rgba(33, 125, 187, 0.8);
    --font-one: black;
    --font-pop: 'Poppins', sans-serif;
    --font-code: 'Fira Code', monospace !important;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}

.skills-main {
    color: black;
    background-color: rgb(230, 230, 230);
    padding: 50px 0;
    margin: 0 auto;
}

.skill {
    border-radius: 3px;
    background-color: white;
    color: var(--font-one);
    padding: 5px 10px;
    font-family: var(--font-code);
    max-width: 70%;
    margin: 5px;
}

.skills-title {
    text-align: center;
}

.skill-divide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-div {
    text-align: center;
}

.Navbar {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    color: white;
    background-color: var(--font-two);
    padding: 10px 20px;
}

.Navbar a {
    text-decoration: none;
    color: var(--font-two);
    font-size: 18px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.nav-btn {
    float: right;
}

.nav-title {
    float: left;
}

.Navbar a:hover {
    background-color: var(--font-two);
    color: var(--font-one);

}

.Navbar a:visited {
    color: var(--font-one);

}



.repo-container {
    justify-content: center;
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 50px;
}

.repo-main {
    text-align: center;
    background-color: rgb(230, 230, 230);
    margin: 0 auto;
    justify-content: center;
    display:
}

.repo-tag {
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    max-width: 10px;

}

.topic {
    background-color: rgb(0, 238, 255);
    padding: 0 5px;
    margin: 0 5px;
    border-radius: 3px;
}

.repo-main h4 {
    font-style: italic;
    color: grey;
    font-size: 14px;
}

.repo-main h1 {
    padding-top: 50px;
}

.repo-item {
    font-family: var(--font-code);
    background-color: white;
    text-align: left;
    padding: 25px 35px;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    margin: 5px auto;
    max-width: 500px;
}

.repo-button {
    padding: 0px 5px 0px 0px;
}

.repo-button a {
    text-decoration: none;
    border-radius: 5px;
}

.repo-button a:visited {
    text-decoration: none;
}

.repo-button a:hover {
    filter: invert(100%) sepia(1%) saturate(4726%) hue-rotate(312deg) brightness(114%) contrast(100%);

}

.repo-btncont {
    display: flex;
}

.repo-button img {
    aspect-ratio: 1/1;
    width: 20px;
    height: auto;
}

.about {
    background-color: var(--font-two);
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    min-height: 500px;
}






.text h2 {
    font-size: 18px;
    font-family: var(--font-code);
}

.text p {
    font-size: 16px;
}


.hi {
    margin-bottom: -40px;
    font-family: var(--font-code);
    font-size: 16px;
}

.text h1 {
    color: var(--font-yellow);
    font-size: 50px;
    margin-bottom: -15px;
}

.contact {
    display: flex;
}

.contact-item {
    padding-right: 10px;
}




.footer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
    font-family: var(--font-code);
    color: grey;
    margin-top: 50px;
}

.title-footer {
    padding-bottom: 15px;
    font-size: 14px;
}

.exp-main {
    margin-bottom: 100px;
    max-width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

.work-title {
    justify-content: center;
    display: flex;
}

.exp-item h2 {
    margin-bottom: -15px;
    font-size: 20px;
}

.exp-item h1 {
    font-size: 22px;
}

.exp-item {
    margin-bottom: 50px;
    background-color: rgb(230, 230, 230);
    border: solid 1px rgb(206, 206, 206);
    padding: 10px 20px;
    max-width: 60%;
    border-radius: 3px;

}

.exp-container {
    display: flex;
    justify-content: space-between;
}


.exp-item ul {
    list-style-image: url('./play-solid.svg');
}