@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --font-two: #05cc9d;
    --font-one: #0D1317;
    --font-pop: 'Poppins', sans-serif;
    --font-code: 'Fira Code', monospace !important;
}

body {
    background-color: #0a192f;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}

.App {
    max-width: 960px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

h1 {
    color: var(--font-two);
}

.skills-main {
    color: var(--font-two);
    margin-bottom: 100px;
}

.skill {
    border-radius: 5px;
    background-color: var(--font-two);
    color: var(--font-one);
    margin: 5px;
    padding: 5px 10px;
    font-family: var(--font-code);
}

.skills-title{
    text-align: center;
}
.skill-divide {
    flex-wrap: wrap;
}

.skill-div {
    color: white;
    text-align: center;
}

.Navbar {
    display: flex;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Navbar a {
    text-decoration: none;
    color: var(--font-one);
    font-size: 18px;
    background-color: var(--font-two);
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-btn {
    float: right;
}

.nav-title{
    float:left;
}

.Navbar a:hover {
    background-color: white;

}

.Navbar a:visited {
    color: var(--font-one);

}

.title {
    color: var(--font-two);
}

.repo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.repo-main {
    text-align: center;
    color: var(--font-two);

}

.repo-tag {
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    max-width: 10px;

}

.topic {
    background-color: rgb(0, 238, 255);
    padding: 0 5px;
    margin: 0 5px;
    border-radius: 3px;
}

.repo-main h4 {
    font-style: italic;
    color: grey;
    font-size: 14px;
}

.repo-item {
    font-family: var(--font-code);
    background-color: var(--font-two);
    width: 280px;
    height: 275px;
    overflow-wrap: break-word;
    text-align: left;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 5px;
    color: black;
    font-size: 14px;

}

.repo-button {
    padding: 0px 5px 0px 0px;
}

.repo-button a {
    text-decoration: none;
    border-radius: 5px;
}

.repo-button a:visited {
    text-decoration: none;
}

.repo-button a:hover {
    filter: invert(100%) sepia(1%) saturate(4726%) hue-rotate(312deg) brightness(114%) contrast(100%);

}

.repo-btncont {
    display: flex;
}

.repo-button img {
    aspect-ratio: 1/1;
    width: 20px;
    height: auto;
}

.about {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}


@media only screen and (min-width: 750px) {

    .about {
        display: flex;
        margin: 0 auto;
        max-width: 950px;
    }

    .bio-text {
        padding-right: 25px;
    }

    .imgsami {
        max-width: 300px;
        border-radius: 10px;
    }

    .skills-container {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
}



@media only screen and (max-width: 700px) {

    .App {
        max-width: 500px;

    }

    .about {
        margin-top: 50px;
        display:block;
        max-width: 500px;
        padding-left: 25px;
    }

    .skills-container {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .skills-main{
        width: 500px;
    }

    .bio-text {
        padding-right: 25px;
    }

    .imgsami {
        display: flex;
        justify-content: center;
        max-width: 300px;
        border-radius: 10px;
    }

    .skill {
        width: 150px;
    }

    .Navbar{
        display: flex;
        justify-content: space-between;
        width: 475px;
        padding: 0 25px;
    }

    .nav-btn{
        float:right;
        margin: 0;
        padding: 0;
    }
    .exp-main{
        padding: 5px 50px;

    }

}

.imgsami {
    box-shadow: 10px 10px 5px var(--font-two);
    -moz-box-shadow: 10px 10px 5px var(--font-two);
    -webkit-box-shadow: 10px 10px 0px var(--font-two);
    -khtml-box-shadow: 10px 10px 0px var(--font-two);
}

.text h2 {
    font-size: 18px;
    font-family: var(--font-code);
    color: var(--font-two);
}

.text p {
    font-size: 16px;
}


.hi {
    margin-bottom: -40px;
    font-family: var(--font-code);
    font-size: 16px;
    color: var(--font-two);
}

.text h1 {
    color: var(--font-yellow);
    font-size: 50px;
    margin-bottom: -15px;
}

.contact {
    display: flex;
}

.contact-item {
    padding-right: 10px;
}

.contact-item img {
    width: 20px;
    aspect-ratio: 1/1;
    filter: invert(47%) sepia(95%) saturate(571%) hue-rotate(122deg) brightness(102%) contrast(103%);

}

.contact-item img:hover {
    filter: invert(100%) sepia(1%) saturate(4726%) hue-rotate(312deg) brightness(114%) contrast(100%);
}

.footer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
    font-family: var(--font-code);
    color: grey;
    margin-top: 50px;
}

.title-footer {
    padding-bottom: 15px;
    font-size: 14px;
}

.exp-main {
    margin-bottom: 100px;
}

.exp-item h2 {
    color: var(--font-two);
    margin-bottom: -15px;
}

.exp-item {
    margin-bottom: 50px;
}

.title-job {
    background-color: var(--font-two);
    color: var(--font-one);
    padding: 5px 10px;
    font-size: 20px;
}

.exp-item ul {
    filter: invert(47%) sepia(95%) saturate(571%) hue-rotate(122deg) brightness(102%) contrast(103%);
    list-style-image: url('./play-solid.svg');
}