@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root{
    --font-two: #05cc9d;
    --font-one: #0D1317;
    --font-pop: 'Poppins', sans-serif;
    --font-code: 'Fira Code', monospace !important;
}

body{
    background-color: #0a192f;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    
}

h1{
    color: var(--font-two);
}

