.repo-container {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 5px 25px;


}

.repo-main {
    text-align: center;
    color: var(--font-two);

}

.repo-main h4{
    font-style: italic;
    color: grey;
    font-size: 14px;
}
.repo-item {
    font-family: var(--font-code);
    background-color: var(--font-two);
    width: 250px;
    height: 250px;
    overflow-wrap: break-word;
    text-align: left;
    margin: 10px;
    padding: 15px 25px 25px 25px;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    
}

.repo-button{
    padding: 0px 5px 0px 0px;
}
.repo-button a {
    text-decoration: none;
    border-radius: 5px;
}

.repo-button a:visited {
    text-decoration: none;
}

.repo-button a:hover{
    filter: invert(100%) sepia(1%) saturate(4726%) hue-rotate(312deg) brightness(114%) contrast(100%);

}

.repo-btncont{
    display: flex;
}
.repo-button img{
    aspect-ratio: 1/1;
    width: 20px;
    height: auto;
}